.logo {
  position: relative;
  display: block;
  height: 80px;
  margin: 0 auto;
  top: 10px;
  animation: Logo-spin infinite 20s linear;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
